<p id="notice"><small class="label pull-left bg-yellow "><%= notice %></small></p>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:tab].nil? %>">
      <a href="#tab_1" data-toggle="tab" aria-expanded="<%= params[:tab] == 'question' ? false : true %>">
        <%= t(:'views.tab_panel.general') %>
      </a>
    </li>
    <% if !admin_subject.new_record? %>
      <li class="<%= 'active' if params[:tab] == 'question' %>">
        <a href="#tab_2" data-toggle="tab" aria-expanded="<%= params[:tab] == 'question' ? true : false %>">
          TestBank Questions
        </a>
      </li>

      <% @object.group_test_practices.each_with_index do |group, index| %>
        <li>
          <a href="#tab_<%= index + 3 %>" data-toggle="tab">
            <%= group.name %>
          </a>
        </li>
      <% end %>
    <% end %>


  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' if params[:tab].nil? %>" id="tab_1">
      <%= form_for(admin_subject, url: url) do |f| %>
        <% if admin_subject.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(admin_subject.errors.count, "error") %> Error:</h2>
            <ul>
              <% admin_subject.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :course_name, t(:'course.name') %><br>
          <input type="text" class="form-control oneline" name="course_name" value="<%= @section&.course.name_en %>" disabled/>
          <%#= f.collection_select(:course_id, @catalog_list.all, :id, define_key_with_locale('name'), { class: "form-control oneline" }, { class: "form-control oneline" },) %>
          <%= f.hidden_field :course_id, class: "form-control oneline" %>
        </div>

        <div class="field">
          <%= f.label :section_name, t(:'section.name') %><br>
          <input type="text" class="form-control oneline" name="section_name" value="<%= @section.name %>" disabled/>
          <%= f.hidden_field :section_id, class: "form-control oneline" %>
        </div>

        <div class="field">
          <%= f.label :name, t(:'subject.name') %><br>
          <%= f.text_field :name, required: true, class: "form-control oneline" %>
        </div>

        <%= f.hidden_field :type_subject, class: "form-control oneline" %>

        <div class="field">
          <%= f.label :description, t(:'subject.description') %><br>
          <%= f.text_area :description, class: "form-control ckeditor" %>
        </div>

        <div class="field">
          <br>
          <div><%= t(:'question.long_question') %> &nbsp; <%= f.check_box :is_long_question, required: false %>
          </div>
        </div>

        <!--        <div class="field"><br>-->
        <!--          <div class="mt-repeater">-->
        <!--            <div data-repeater-list="admin_subject[media_link]">-->
        <%# if !admin_subject.media_link.to_s.first.include?("{") %>
        <!--                <div data-repeater-item-template data-repeater-item data-repeater-editor="1">-->
        <!--                  <p>-->
        <%#= text_field_tag 'media', nil, placeholder: 'Media', class: "form-control oneline input-repeater-id half" %>
        <!--                    <span onclick="set_image(this)" class="btn btn-primary btn-xs">Media</span>-->
        <%#= text_area_tag 'text', nil, placeholder: 'Description media', class: "form-control oneline input-repeater-id half" %>

        <!--                    <input data-repeater-delete class="btn btn-danger btn-xs" type="button" value="X"/>-->
        <!--                  </p>-->
        <!--                </div>-->
        <%# else %>
        <%# @ary = JSON.parse(admin_subject.media_link.to_json) %>
        <%# @ary.each do |k, v| %>
        <!--                  <div data-repeater-item data-repeater-editor="1">-->
        <!--                    <p>-->

        <%#= text_field_tag 'media', v['media'], placeholder: 'Media', class: "form-control oneline input-repeater-id half" %>
        <!--                      <span onclick="set_image(this)" class="btn btn-primary btn-xs">Media</span>-->
        <%#= text_area_tag 'text', v['text'], placeholder: 'Description file media', class: "form-control oneline input-repeater-id half" %>

        <!--                      <input data-repeater-delete class="btn btn-danger btn-xs" type="button" value="Delete"/>-->
        <!--                    </p>-->
        <!--                  </div>-->
        <%# end %>
        <%# end %>
        <!--            </div>-->
        <!--            <input data-repeater-create type="button" class="btn btn-primary btn-xs btn-add-new-field" value="Add media ++"/>-->
        <!--          </div>-->
        <!--        </div>-->


        <div class="field">
          <%= f.label :status %><br>
          <%= f.select :status, [[t(:'status.active'), 1], [t(:'status.disabled'), 0]], {}, { class: "form-control quarter" } %>
        </div>

        <div class="field">
          <%= f.label :order, t(:'common.order') %><br>
          <%= f.number_field :order, min: 0, class: "form-control quarter" %>
        </div>

        <div class="field">
          <%= f.hidden_field :percent, min: 0, max: 100, class: "form-control quarter" %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit t('views.button.save'), class: "btn btn-sm btn-success" %>
          <%= f.submit t('views.button.save_and_continue'), class: "btn btn-sm btn-success" %>
        </div>

        <hr>
        <br>
        <% if !admin_subject.new_record? %>
          <div style="display: flex; justify-content: flex-end;">
            <%= link_to 'Add Group Test Practice', new_admin_subject_group_test_practice_path(subject_id: @object.id), class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>


      <% end %>
    </div>

    <div class="tab-pane <%= 'active' if params[:tab] == 'question' %>" id="tab_2">

      <% if !admin_subject.new_record? %>
        <%= render 'form_new_question', question_type: 'test_bank', group_test_practice_id: 0 %>
      <% end %>
      <br>
      <hr>
      <%= render 'list_data_subject', subject_id: @object.id, question_type: 'test_bank', group_test_practice_id: 0 %>
    </div>

    <% @object.group_test_practices.each_with_index do |group, index| %>
      <div class="tab-pane" id="tab_<%= index + 3 %>">
        <%= link_to 'Delete Group',
                    admin_subject_group_test_practice_path(subject_id: @object.id, id: group.id),
                    method: :delete, data: { confirm: t(:'common.comfirm_are_you_sure') },
                    class: "btn-xs btn btn-danger", style: "margin: 10px 0px; float: right;" %>

        <%= link_to 'Edit Group',
                    edit_admin_subject_group_test_practice_path(subject_id: @object.id, id: group.id),
                    class: "btn-xs btn btn-warning", style: "float: right; margin: 10px;" %>

        <% if !admin_subject.new_record? %>
          <%= render 'form_new_question', question_type: 'test_practice', group_test_practice_id: group.id %>
        <% end %>
        <br>
        <hr>

        <% if !admin_subject.new_record? %>
          <%= render 'list_data_subject', subject_id: @object.id, question_type: 'test_practice', group_test_practice_id: group.id %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<%= render 'shared/subject_js' %>


<% content_for :more_footer do %>

  <script src="/lte/repeater/jquery.repeater.js"></script>
  <script src="/lte/repeater/jquery.repeater.js"></script>
  <script>
      var FormRepeater = function () {
          return {
              init: function () {
                  $('.mt-repeater').each(function () {
                      $(this).repeater({
                          initEmpty: $(this).find("[data-repeater-item-template]").length == 1,
                          show: function () {
                              $(this).slideDown();
                              if ($(this).data('repeater-editor')) {
                                  var index = $(this).index();
                                  var $textarea = $(this).find("textarea");
                                  $.each($textarea, function (key, value) {
                                      $(this).attr("id", "editor" + "_" + index + "_" + key);
                                      // CKEDITOR.replace("editor" + "_" + index + "_" + key, {});
                                  });
                              }
                          },
                          hide: function (deleteElement) {
                              if (confirm('Are you sure you want to delete this element?')) {
                                  $(this).slideUp(deleteElement);
                              }
                          }
                      });
                  });
              },

          };
      }();
      jQuery(document).ready(function () {
          FormRepeater.init();

      });
  </script>

  <script>
      // common.css
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
              this.classList.toggle("collaps-active");
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                  content.style.display = "none";
              } else {
                  content.style.display = "block";
              }
          });
      }
  </script>

<% end %>